<robot name="distal_198.obj">
	<link name="_name">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="-0.0041086867134347595 -0.007634606989005183 0.0008305596616636777" />
			<geometry>
				<mesh filename="distal_198.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin rpy="0.0 0.0 0.0" xyz="-0.0041086867134347595 -0.007634606989005183 0.0008305596616636777" />
			<geometry>
				<mesh filename="distal_198_vhacd.obj" scale="1 1 1" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>