<?xml version="1.0" ?>
<robot name="ball_joint_object">

  <!-- Fixed base link -->
  <link name="base_link">
    <contact>
      <lateral_friction value="5.0"/>
      <rolling_friction value="0.01"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
       <mass value="1.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
				<mesh filename="pin4.obj" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="./pin4.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>

  <!-- First joint: yaw -->
  <joint name="yaw_joint" type="fixed">
    <parent link="base_link"/>
    <child link="moving_link"/>
    <origin xyz="-0 0 0" rpy="-0 0 0"/>
    <axis xyz="1 1 1"/>
    <limit lower="-3.14" upper="3.14" effort="1.0" velocity="2.0"/>
  </joint>

 
  <!-- The final moving link -->
  <link name="moving_link">
    <visual>
			<origin rpy="0 0 0" xyz="0.0 0 0" />
			<geometry>
				<mesh filename="./foot_lone.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0.0 0 0" />
			<geometry>
				<mesh filename="./foot_lone.obj" scale="1 1 1" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>
